
/**************************
CONTACT
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Dosis', Arial,Verdana,sans-serif; }

a, a:active, a:visited {color:#6c6eb3; text-decoration: none!important;}	
.blog-post {padding: 0px 0 0px 0;}
::placeholder {color: #000; opacity:  1; font-family: "Dosis", Arial,Verdana,sans-serif;}
input {padding: 5px 10px; font-size:19px;}

.btn-submit {
	text-align: center;
	border:none;
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#fff!important; background-color:#272a67; text-shadow: none; font-size: 19px; font-weight:600; padding: 4px 60px;

	-webkit-transition: background 0.3s ease; 
	-moz-transition: background 0.3s ease; 
	transition: background 0.3s ease;
}

.btn-submit:hover { background: #000; color:#fff;}

.container {padding-top:20px; max-width: 100%;}
.container .form-control {margin-bottom: 10px!important;}
.container h2 {color: #6c6eb3; font-weight: 700; font-size: 19px; line-height: 110%; padding: 5px 0 5px 0; text-transform:uppercase; }
.container label {float:left!important; width: 20%!important; }
.container input, .container select {float:left!important; width: 80%!important;}

.g-recaptcha-container{ margin-bottom: 15px; !important;}