
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Dosis', Arial,Verdana,sans-serif; padding-bottom: 0; padding-top: 46px;
   margin-bottom: 160px; /* Margin bottom to match footer height */
}

body::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -160px;
    height: 160px;
    width: 100%;
    content: '';
}
main { overflow:hidden;}

a, a:active, a:visited {color:#6c6eb3; text-decoration: none!important;}	
.blog-post {padding: 0px 0 0px 0;}
::placeholder {color: #000; opacity:  1; font-family: "Dosis", Arial,Verdana,sans-serif;}
input {padding: 5px 10px; font-size:19px;}

.btn-submit {
	text-align: center;
	border:none;
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#fff!important; background-color:#272a67; text-shadow: none; font-size: 19px; font-weight:600; padding: 4px 60px;

	-webkit-transition: background 0.3s ease; 
	-moz-transition: background 0.3s ease; 
	transition: background 0.3s ease;
}

.btn-submit:hover { background: #000; color:#fff;}

.btn-submit-sml {padding: 4px 15px;}

/**************************
GENERAL STYLES
**************************/
.container { color:#838384; font-size: 15px; font-weight:500; line-height: 150%;  background: rgba(255,255,255,0.9);; position: relative; top: 370px; padding: 80px 40px; /*max-width: 1400px; */ margin-bottom: 370px; z-index: 1000;}
 
.container .blog-post blockquote p {font-family: 'Roboto Slab', Arial,Verdana,sans-serif; color:#51529e; font-size: 17px; font-weight: 5700; padding: 0; border-left: 2px solid #686ab1; margin: 20px 30px; padding-left: 30px; }  

.container .blog-post a, a:active, a:visited{ color: #6c6eb3; text-decoration: none;}
.container .blog-post a:hover{ color: #333366; text-decoration: none;}

.container .blog-post img { -ms-interpolation-mode: bicubic; border: none; }
.container .blog-post a img { border: none;}

.container .blog-post p {font-size: 19px;}
.container .blog-post h1 {font-family: 'Roboto Slab', Arial,Verdana,sans-serif; font-size:48px; color:#333366; font-weight: 300; padding-bottom: 10px;}
.container .blog-post h2 { color: #6c6eb3; font-weight: 700; font-size: 19px; line-height: 110%; padding: 5px 0 5px 0; text-transform:uppercase; }
.container .blog-post h3 { color: #777aba; font-weight: 500; font-size: 19px; line-height: 110%; padding: 15px 0 10px 0; }
.container .blog-post h4 { color: #333366; font-size:15px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700; text-transform:uppercase;}
.container .blog-post h5 { color: #000000; font-weight: 700; font-size: 15px; line-height: 110%; padding: 15px 0 5px 0; }

.container .blog-post ul { font-size:14px; line-height: 150%; 
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0 10px 10px;}

.container .blog-post li { color:#838384; padding-left: 30px; margin-bottom: 3px;font-size: 19px;}


.container .blog-post ul li::before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #777aba;
    font-size: 10px;
    margin-top: 2px;
	display: inline-block;
	font-weight:900;
	margin-left: 20px;
}

.form-control, .custom-select, .input-group-text{
	border-radius: 0;
}

input:focus{
	box-shadow: 0 0 5px rgba(51, 51, 102, 1) !important;
}

select:focus {
	box-shadow: 0 0 5px rgba(51, 51, 102, 1) !important;
}

textarea:focus {
	box-shadow: 0 0 5px rgba(51, 51, 102, 1) !important;
}

/**************************
NAVBAR - LOGO
**************************/
.navbar {background: #333366!important; height:46px;}
.navbar-nav .nav-link {font-size:20px; color:#ffffff!important; font-weight: 500;}
.navbar-nav .nav-link:hover {color:#6b669e!important;}
.navbar-expand-lg .navbar-nav .nav-link {padding-left: 44px; padding-right:44px; font-weight: 500; height: 46px;}
.navbar-expand-lg .dropdown-menu {margin-left:15px;}
.navbar-expand-lg .dropdown-menu ul {margin-left:0px;}
.btco-hover-menu .collapse ul > li:hover > a{color:#6b669e;}

.navbar-nav .dropdown-item {background: #333366; color:#fff; font-size:20px;}
.navbar-nav .dropdown-menu .dropdown-item {font-size:16px;}
.navbar-nav .dropdown-item:hover {color:#6b669e!important;}

	
.navbar-logo {padding: 0 10px;}

.dropdown-menu {margin-left: 40px;}

.btco-hover-menu a, .navbar > li > a {
	text-transform: none;
}

/**************************
HEADER PANEL
**************************/
.header-logo {position: fixed; z-index: 2; margin-left:50px; margin-top:30px; }
.header-logo-img {width: 100%;}
.header-logo-img-smaller { 
	position: relative;
	transform-origin: top left;
	transition: all 1s ease-in-out;	
	transform: scale(0.35);	
}
.header-logo-img-larger {
	position: relative;
	transform-origin: top left;
	transition: all 1s ease-in-out;	
	transform: scale(1);	
}

.header {margin-bottom: 0;}

.header-search {position: fixed; right:0; z-index: 3; margin-right:50px; margin-top:30px;}

.header-search .search-txt {border-radius:0!important; background: #fff; border:#a39dc3 1px thin; height:29px; width:330px; font-family: "Montserrat", Arial,Verdana,sans-serif; font-size: 15px; color:#686868!important;margin-right:0!important;}
.search-txt-smaller { 
	width: 90px!important;
    transition: width 2s;
}
.search-txt-larger {
	width: 330px!important;
    transition: width 2s;
}

.header-search .search-txt::placeholder {color: #686868;}
.header-search .btn-search {border-radius:0!important; color:#ffffff; background: #333366; height:29px; }
.header-search .btn-search i {position: relative; top:-5px;}
.header-search .btn-search:hover {color:#333366; background:#a39dc3;}

.header-resizer {position: fixed; right:0; z-index: 3; margin-right:50px; margin-top:70px;}
.header-resizer .fontsizer1{position: relative; right:0; z-index: 3; margin-right:50px; margin-top:70px;}
.header-resizer .print-page {float:left;}
.header-resizer .fontsizer{float:left;}

.f-btn-search{
	background: #272a67 !important;
}

.f-btn-search:hover{
	background: #000 !important;
}
     
/************************************************
Accessibility
************************************************/
.fsizer { display: block; width: 100%; float: right; padding: 0; clear: both;} /* Container element */

.fsizer a { display: inline-block;  width: 25px; margin-left: 5px; text-align: center; border: 1px solid #39526E; color: #fff; text-decoration: none; cursor: pointer; letter-spacing: 0; line-height: 130%; padding: 3px; }
.fsizer a:hover { text-decoration: none; background: #a39dc3; color: #333366; }

/* Three 'A' links used to control size */
.fsizer a#fs_sml { font-size: 0.75em; color: #fffa39dc3; background: #fff; /*height: 17px; padding-top: 3px; background-color:#002B54; color:#fff;*/ }
.fsizer a#fs_med { font-size: 0.85em;  padding: 5px 3px 3px 3px; color: #333366;  border: 1px solid #333366; /*height: 17px; padding-top: 3px; background-color:#002B54; color:#fff;*/ }
.fsizer a#fs_lrg { font-size: 0.95em; color: #333366; border: 1px solid #333366; /*height: 18px; padding-top: 2px; background-color:#002B54; color:#fff;*/ }
.fsizer a.fsactive { color: #fff!important; background: #333366; cursor: default; border: 1px solid #333366!important;} /* When mode is active */
	
/**************************
HOME PAGE - SLIDER
**************************/
.carousel-item {height:681px;}
.carousel-item > img {height: 681px; right:0!important; left:auto!important;}
.carousel-item h1 {font-family: 'Roboto Slab', Arial,Verdana,sans-serif;font-size:50px; font-weight: 200; color:#272a67;}
.carousel-caption {left: 50px !important; top:60%; right: unset !important;}
.carousel-control-next, .carousel-control-prev {width:3%;}

.carousel-link-container{
	background: rgb(255,255,255, 0.5);
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.carousel-link{ color: #272a67 !important;}
.carousel-link:hover{border-bottom: 1px solid #272a67;}
.carousel-description{color: #1c1c1c;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.featurette {width:80%; margin: 60px auto 50px auto; }

#introWrapper { width: 89%; padding: 0px; margin: 0 auto; clear: both; background: #fff;  overflow: hidden; padding-bottom:40px;}
#intro {display: -ms-flex;
display: -webkit-flex;
display: flex;
/*display: -webkit-box; *//* safari, ipad */  
display: -ms-flexbox;
flex-direction: row;
-webkit-flex-direction: row; 
overflow:hidden;}
#intro h1 {font-family: 'Roboto Slab', Arial,Verdana,sans-serif; color:#333366; font-weight: 200; font-size: 49px; text-align: left; padding-left: 100px; padding-bottom: 15px;} 
#intro, #intro p { font-size: 18px; color: #666666; text-align: left; padding: 0 0px 0 0px; line-height: 150%;}
#intro p { padding-left: 100px; padding-bottom: 15px;}

.introPanelOne { width: 50%; box-sizing: border-box; text-align:center; font-size: 20px; padding: 0; }	
.introPanelTwo { width: 50%;  box-sizing: border-box; text-align:center; font-size: 20px; padding: 0; }	

.introPanelOne img {width:100%; /*height:100%;*/}

.introPanelTwo-txt {position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);color:#fff;}

/**************************
HOME PAGE - BUTTONS PANEL
**************************/
.home-buttons {width: 100%; background: #343a40; text-align: center; } 
.home-buttons .col-lg-4 {padding: 40px 0; height:258px;}
.home-buttons .col-lg-4 img {padding-bottom: 30px;}
.home-buttons h2 { text-align: center; font-family: 'Dosis', Arial,Verdana,sans-serif; color:#fff; font-size:27px; line-height: 0.9;}
.home-button1 {background:#eaeaea;}
.home-button1 h2 {color:#8e8e8e;}
.home-button2 {background:#333366;}
.home-button3 {background:#231f20;}

.home-button1:hover, .home-button2:hover, .home-button3:hover { cursor: pointer!important; opacity: 0.8;}
.home-button1:hover > h2, .home-button2:hover > h2, .home-button3:hover > h2 {font-weight:700;}
.home-button1:hover > img, .home-button2:hover > img, .home-button3:hover > img {font-weight:700;
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #9a9da0; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color:#333366;}
.offset-sm-1 {margin-left: 3%;}
.col-sm-8 {padding:0!important;}
/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

.sidebar-module {padding-right: 80px; text-align: right;}
.sidebar-module h4 {color:#333366; font-size: 20px; font-weight: 500; text-align: right; border-bottom: 2px dotted #717071; padding-bottom: 10px; margin-bottom: 0px;}
.sidebar-module li {text-align: right; border-bottom: 2px dotted #717071; padding-bottom: 10px; padding-top: 10px;}
.sidebar-module a {color:#717071;}
.sidebar-module a:hover {color:#333366;}
.sidebar-module select {width:100%; margin-top:15px;}

.navsidebar-sub-sub li {border:none!important; padding:0;}
.navsidebar-sub-sub li a {font-size: 14px;}
	
/**************************
SEARCH PANEL
**************************/
.footerSearch { 
  width: 100%;  
  background-color: #fff;
  text-align: center;	
}
.footerSearch {/*padding: 0 30px 60px 30px; */color:#000; width:100%; margin:auto;}

.search { 
  width: 100%;  
  background-color: #c4c6c8;
  text-align: center;
	
  background: -moz-linear-gradient(top, rgba(196,198,200,0.40) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(top, rgba(196,198,200,0.40) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(196,198,200,0.40) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c6c8', endColorstr='#00ffffff',GradientType=0 );	
}
.searchWrapper {padding: 30px 30px 20px 30px; color:#000; width:80%; margin:auto;}
.searchWrapper h2 {color:#333366; font-weight: 200; padding-bottom:10px; font-size: 35px;}
.searchWrapper .search-row {padding: 10px 0;  font-weight: 500; color:#686868;}
.searchWrapper .search-row input[type=textbox] {margin: 0 10px!important; border:none;font-family: "Dosis", Arial,Verdana, sans-serif; font-size: 19px; width:479px; height:32px;}
.searchWrapper .search-row input {margin: 0 30px;}
.searchWrapper .search-row img {padding: 0 30px;}
.searchWrapper .search-box {width:20%;}
.searchWrapper .btn-search {margin: 0 10px!important; font-family: "Dosis", Arial,Verdana, sans-serif; font-size:37px!important; font-weight: 600; background-color: #b5c9e8; color:#fff; border:none; padding: 10px 15px; width:73px!important; height:73px!important; position: relative; top:28px;}
.searchWrapper .search-row a {color:#686868;text-decoration: underline!important;}
.searchWrapper .search-row a:hover {color:#000;}
.searchWrapper .search-rad {position:relative; left: -60px; padding: 0px 0 10px 0; }
.searchWrapper .search-rad-sp {display: inline-block; }

.nav-footer {width: 100%; padding: 40px 0; text-align: center; background:#fff;}
.col-lg-3 img {width: 100%;}

/**************************
FOOTER NAVIGATION PANEL
**************************/
.footer-container {position: inherit; margin-bottom: 0 !important; padding: 0;}
.footerNav { width: 100%; background-color: #fff;text-align: center;position: relative; z-index: 3000;}
.footerNavWrapper {padding: 0 0px 60px 0px; color:#000; margin:auto;}
.footerNavWrapper hr {border-top: 2px solid rgba(0,0,0,.1); }
.footerNavWrapper .row {padding-top: 15px; text-align: left;}
.footerNavWrapper a {color:#8c8c8c; font-size:17px;}
.footerNavWrapper a:hover {color:#333366!important;}
.footerNavWrapper img {width: 100%;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #000000;
	text-align: center;
}

#footer-social {color: #888; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 13px;}
#footer-social i {font-size:20px;}
#footer-social a, #footer-txt a:active {color: #888; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 17px;}
#footer-txt a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 17px; line-height: 120%; padding: 0 7px;}
#footer-txt a:hover{ color: #888; text-decoration: none;}
#footer-txt img {padding: 0 50px;}
.footer-txt-logo {display:inline-block;}
.footer-logo {margin-left: 15px;}

.footerContainer {padding: 30px 0 0px 0;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px!important; font-size: 16px;}
.pagination  li:before {content: ''!important;}
	
	
/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 19px!important; font-weight: 400;  padding: 10px 0 0 0; text-transform: uppercase;}
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #6c6eb3!important; text-decoration: none;}	
.btn-back a:hover {color: #a39dc3!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: auto;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;  /* width: 65%;*/ padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

.news-newsletter {width:100%; border: #e8e8e8 1px solid;  -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; padding: 5px 10px 10px 10px; margin: 20px 0px;}
.news-newsletter h4 {color:#333366; font-size: 20px; font-weight: 500; text-align: left; border-bottom: 2px dotted #717071; padding-bottom: 10px; margin-bottom: 0px;}
.news-newsletter p {margin: 5px 0; text-align: left;}
.news-newsletter input {width:100%!important; margin-bottom: 10px; font-size: 12px;padding: 6px 5px;}
.news-newsletter button {width:100%!important; padding:4px 0;}


/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}

/**************************
Online Complaint
**************************/
.form-check{margin-top: 10px;}
.invisible{display: none;}
.sub-note{margin-top: 10px;}

.online-complaint .form-row{
	margin-bottom: 15px;
}

.val-error{
	color: #8a1f11;
}

/**************************
Determinations
**************************/

mark{
	background: #c6c6c6;
	color: black;
}

.result-link{
	font-size: 16px;
	font-weight: bold;
}

.result-link:hover{
	text-decoration: underline !important;
}

/**************************
PAGINATION
**************************/
.pagination li {
	padding:0 !important;
}

.page-item.active .page-link {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff !important;
}

.page-link {
	color: #6c757d !important;
}

/**************************
RESPONSIVE
**************************/
.navbar-toggler {padding: 1px 5px;position: relative; top: -3px;}

@media screen and (max-width: 480px) {
     .header-logo {margin-left: 10px; margin-top: 10px;}
	 .header-logo img {width:30%!important;}
	 
	 .container {padding:20px 40px;}
	  .row {margin-right: 0px; margin-left: 0px;}
     .featurette {width:100%;}
     
     .carousel-caption {left:0;}
     .carousel-item h1 {font-size:16px;}
     .carousel-item {height:200px;}
     .carousel-item > img {height: 200px; right:0!important; left:auto!important;}	
	
	 #introWrapper {padding-bottom:0!important; width:100%;}
	 #intro h1 {font-size:30px; padding-top:7px!important; }
	 #intro p, #intro h1 {padding: 0 5px;}
	 
	 .sidebar-module {text-align:left;}
	 .sidebar-module li {text-align:left;}
	 .sidebar-module h4 {text-align:left;}
	 
	 .searchWrapper {padding: 20px 10px;}
	 .searchWrapper h2 {font-size:27px;}
	 .searchWrapper .search-rad {width: 100%; margin: auto; text-align: center; position: inherit;}
	 	
     .searchWrapper .btn-search {position: inherit; margin: 10px!important; width:auto!important;height:auto!important; font-size:18px!important;}
     .searchWrapper .search-row input[type="radio"] {margin: 0 15px;}
     
     .footerNavWrapper {padding-bottom:15px;}
     .footerNavWrapper .row {margin:0px; text-align:center;}
     .footerNavWrapper .row .col {flex-basis: auto;}
     #footer-txt {margin:auto; display:block; text-align:center; padding: 0px;}
	 .footer-txt-logo {display:block; width:100%; padding:0;}
	 #footer-txt img {padding: 0!important;}
     #footer-txt a, #footer-txt a:active {font-size:20px;}
     
}

@media only screen and  (max-width: 768px) {
    .container .row {width: 100%; padding: 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}		
	
	.navbar {z-index:500000;}
	.navbar-nav {background: #333366;z-index: 50000; position: relative;}
	.navbar-nav .nav-link {font-size: 16px!important;}
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}
	
	 .sidebar-module {padding-right: 0;}
	 .sidebar-module {text-align:left;}
	 .sidebar-module li {text-align:left;}
	 .sidebar-module h4 {text-align:left;}
	 
	.header-logo-img-smaller, .header-logo-img-larger { transform: none!important;}
	.search-txt-smaller, .search-txt-larger, .search-txt { transform: none!important; width: auto!important;}
	
	.header-logo {position: absolute;}
	.header-logo img {width: 60%}	
	
	.header-search {position: fixed; float:right; top: 0; z-index: 500000; margin-right: 15px; margin-top:0;}
	.header-resizer {display: none; visibility: hidden; height:0}
	
	.header-search { overflow: hidden;}
	.searchWrapper {width:100%;}
	.searchWrapper .search-row input[type="textbox"] {width:70%;}
	
	.footerNavWrapper img {width:50%; padding-bottom: 20px;}
	#footer-txt img {padding:0 10px 0 0;}
	.footerNavWrapper .row .col {text-align: center;flex-basis: auto;}
	.footerNavWrapper .row {margin:0px; text-align:center;}
     
	#intro {display:block; width:100%;}
	.introPanelOne {width:100%;}
	.introPanelTwo {width:100%;}
	.introPanelTwo-txt {position: inherit; transform: none;}
	#intro p, #intro h1 {padding-left:0; text-align:center;}
	
	.container .blog-post h1 {font-size: 30px;}
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
	.header-search {top:8px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
    .navbar-expand-lg .navbar-nav .nav-link {padding-left: 12px; padding-right: 12px;}
	.navbar-nav .nav-link {font-size: 15px;}
	.header-logo img {width:70%;}
	.header-search .search-txt, .header-search .search-txt-larger {width: 200px;}
	.header-search .search-txt-smaller {width: 110px!important;}
	.container {padding:20px 10px;}
	.container .blog-post h1 {font-size: 30px;}
	.sidebar-module {padding-right:15px!important;}
	
	#intro {display:block; width:100%;}
	.introPanelOne {width:100%;}
	.introPanelTwo {width:100%;}
	.introPanelTwo-txt {position: inherit; transform: none;}
	#intro p, #intro h1 {padding-left:0; text-align:center;}
}

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1900px) {
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 40px; padding-right: 40px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1850px) {	
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 35px; padding-right: 35px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1800px) {	
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 30px; padding-right: 30px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1700px) {	
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 25px; padding-right: 25px;}
	.navbar-nav .nav-link {font-size: 18px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1650px) {			
	.header-logo img {width: 80%;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1550px) {	
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 15px; padding-right: 15px;}
	.navbar-nav .nav-link {font-size: 16px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1100px) {		
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 10px; padding-right: 10px;}
	.navbar-nav .nav-link {font-size: 12px; position:relative; top:5px;}
	
	.header-logo img {width: 60%;}
	
	#intro {display: block;}
	.introPanelOne, .introPanelTwo {width:100%;}
	.introPanelTwo-txt {position: inherit; transform: none; text-align: center;}
	.introPanelTwo-txt h1, .introPanelTwo-txt p {padding-left:0!important; text-align: center!important;}
	.introPanelTwo-txt h1 {padding-top: 10px; padding-bottom:0px!important;}
}

@media only screen and (min-device-width: 769px) and (max-width: 900px) {		
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 8px; padding-right: 8px;}
}


@media only screen and (max-width: 769px) {
	
	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
   
    /* Safari 5+ ONLY */    
	::i-block-chrome, #nav { }	
}