/**************************
LOGIN PAGE
**************************/
.login-page {background: #222d32;}
.login-logo-img {float:left; position: relative; top: -2px;}
.login-logo { background: #a6dbd7; margin-bottom: 0px; text-align: left; padding-left: 10px;}
.login-logo a {color:#fff; font-weight: 400;padding-left: 10px;}
.login-box-msg {text-align: left;padding: 0 20px 20px 0px ;}
	
/**************************
HEADER
**************************/
.skin-blue .main-header .logo {background-color: #a6dbd7;}
.skin-blue .main-header a:hover {background-color: #000!important;}
.skin-blue .main-header .navbar {background-color: #222d32;}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {border-left-color: #a6dbd7;}
.btn-primary {background-color: #00c0ef; border-color: #00acd6;}
.btn-primary:hover {background:#00acd6; border-color:#00acd6;}

.navbar-logo {height: 50px; width: auto; position: relative; top: -2px;}
.navbar-company-name {color: #fff; float:left; padding: 10px 15px;font-size: 20px;}

header .sidebar-toggle::before {content:''!important;}

/**************************
NAVIGATION
**************************/
.sidebar-menu .treeview-menu > li > a {padding: 5px 5px 5px 35px;}
.sidebar-menu .treeview-menu > li > a i {font-size:8px; width:10px!important; position: relative; top:-2px;}

/**************************
DASHBOARD
**************************/
.iframe-container{
    height: 100px;
}

.cms-iframe{
    height: 100%;
    width: 100%;
    border: none !important;
}

/**************************
FOOTER
**************************/
.main-footer {color:#45ABA3; font-weight: 600;}
.main-footer a {color: #b71319;}
.main-footer a:hover {color: #000;}
.main-footer span {padding: 0 7px;}

.login-footer {width: 100%; text-align: center; color:#999;}
.login-footer a {color: #b71319;}
.login-footer a:hover {color: #a6dbd7;}
.login-footer span {padding: 0 7px;}

/**************************
NEWS MODULE
**************************/
.news-archive-date {color:#cd853f;}

/**************************
USERS MODULE
**************************/

.module-permission-container{
    height: 295px;
}

/**************************
COMPLAINTS
**************************/

.complaint-pdf-icon{font-size: 16px;color: #222d32;}
.complaint-pdf-icon:hover,
.complaint-pdf-icon:visited,
.complaint-pdf-icon:active{color: #B60214;}

/**************************
SETTINGS
**************************/
.header-image img{
    width: 100%;
}

.header-image-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-image-buttons button{
    margin-left: 0;
}

/**************************
GENERAL
**************************/
.tool{color: #222d32;font-size: 16px;margin-left: 10px;}
.tool:hover{color:#647075;}

.confirmation-buttons{
    width: 110px !important;
}

.inc-radio{
    height: 34px;
}

.inc-radio .col-sm-10{
    padding-top: 7px;
}
.radio-label{
    margin-right: 20px;
}

.checkbox label, .radio label{
    padding-left: 0;
}

.pagination{
    margin: 0 !important;
}

#pagination_count{
    width: 60px !important;
}

.total-row{
    margin-left: 10px;
}

.sortable-handle{
	width: 30px;
	cursor: move;
}

.id-column{
	width: 50px;
}

.image-box{
    position:relative;
    width: 200px;
    height: 160px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px !important;
    border: 1px solid #888;
    background-color: #fff;
    cursor: move;
}

.image-item{
    max-width: 150px;
    max-height: 80px;
}

.image-box-toolbox{
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
    width: 200px;
}

.image-box-img{
    position:relative;
    width: 200px; 
    text-align: center;
}

.image-box-footer{
    position:absolute;
    width: 200px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    bottom:0;
}

.mailbox-controls-container{
    width: 100%;
    height: 40px;
}

.tool-buttons {
    width: 120px;
    height: 40px;
    float: left;
}

.paginate-dropdown {
    width: 500px;
    height: 40px;
}

.invisible{
    display: none;
}

.btn-info {margin-left:5px;}

.input-textbox-button {width:100%;}
.input-textbox {float:left; width:84%;}
.input-button {float:left; width:16%;}

.sidebar-menu>li>a>.fas, .sidebar-menu>li>a>.far{
    width: 20px;
}